@import "normalize.css";

:root {
  --color-bg: #ffffff;
  --color-light: #f3f3f3;
  --color-accent: #b9ff66;
  --color-dark: #191a23;
}

body {
  color: var(--color-dark);
  background-color: var(--color-bg);
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}