@import "normalize.css";

:root {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-accent: #e02727;
  --color-dark: #1e1e1e;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-museo);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}