@import '@styles';

.baner {
  width: 3172px;
  height: 750px;
  margin: 89px 0 0 0;
  position: relative;display: flex;
}

.banerWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -625px;
}

.banerImage {
  width: 1024px;
  height: 661px;
  // object-fit: cover;
  position: relative;
}

.button {
  position: absolute;
  top: 291px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 3;
}

.left {
  left: 650px;
}

.right {
  top: 291px;
  right: 650px;
}
