@import "@styles";

.links {
    width: 100%;
    height: 100%;
    margin: 0px 18px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .link {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 42px;
        font-weight: 500;
        font-size: 20px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
        }
    }

    .active {
        background-image: url("../../../../public/icons/back_active.svg");
    }
}
