@import "@styles";

.header {
    height: calc(44px + 12px);
    margin: 0px 42px 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.imgContainer {
    position: relative;
    width: 198px;
    height: 43px;

    .img {
        object-fit: contain;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & button:first-child {
        margin-right: 29px;
    }
}
