@import "@styles";

.header {
    height: 44px;
    margin: 12px 42px 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imgContainer {
    position: relative;
    width: 198px;
    height: 43px;

    .img {
        object-fit: contain;
    }
}

.buttons {
    width: 417px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
