@import "@styles";

.matches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    @include title;
    margin: 93px 0px 92px 0;
    text-align: center;
}

.matches_cards {
    width: 1380px;
    height: 503px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
